@model IEnumerable<MovieProject.Models.movies>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>List of Marvel Movies</h2>
    <p>
        @*<button type="button" onclick="location.href='@Url.Action("Create New", "Create")'">Add New Movie</button>*@
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm())
    {
        <p>
            Title: @Html.TextBox("SearchString")
            Genre: @Html.DropDownList("movieGenre", "All")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Movie Title</th>
                <th>Release Date</th>
                <th>Genre</th>
                <th>Price (£)</th>
                <th>Image</th>
                <th>Trailer</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.movietitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.releasedate)</td>
                    <td>@Html.DisplayFor(modelItem => item.genre)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td><a href="~/Content/imgs/@item.img" target="_blank"><img src="~/Content/imgs/@item.img" width="150" height="240" /></a></td>
                    <td><iframe src="https://www.youtube.com/embed/@item.video" width="320" height="240" controls></iframe></td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { movieid = item.movieid }) |
                        @Html.ActionLink("Details", "Details", new { movieid = item.movieid }) |
                        @Html.ActionLink("Delete", "Delete", new { movieid = item.movieid }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
</body>
</html>